body{
    
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 340px;
    min-width: none;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
 @font-family{ font-family: 'Itim', cursive; 
    font-family: 'Bungee Shade', sans-serif;
 }


h1{
    text-align: center;
    width: 95%;
    color: indianred;
    font-family:"Aboreto"
    
    
}

h2{
    text-align: center;
    color: lightcoral;
    font-family: "Itim";
    font-family: cursive;
}

h4{
    text-align: center;
    margin: auto;
   
}


.ImgContainer{
   margin: 3%;
   width: 90vw;
   display: flex;
   flex-direction: column;
   align-content: center;
   flex-wrap: nowrap;
   align-items: center;
   
   
   
}

.ImgContainer img{

   width: 100%;
   display: flex;
   border-radius: 5%;
   
}
   
   


.BoxImg{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 80%;
    align-items: center;
    border-radius: 3%;
    
 
    

}


p{
    
    text-align: center;
    color: dimgray;
    max-width: 80vw;
    padding: 4%;
    
}

@media (min-width: 768px){

    .ImgContainer{

        width: 98vw;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: auto;
 
    
    }
    .ImgContainer img{
        width:140px;
        height: 80px;
        
    }
   
    .BoxImg{
       
        margin: 10px 2px;
        flex-direction: row;
        justify-content: center;
        width: 98vw;
        height: auto;
    }
           
    p{
        margin: auto;
        padding: 2px;
        
    }
    

}


@media (min-width: 1200px){

    .ImgContainer{

        width: 98vw;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

.ImgContainer img{

    width: 200px;
    height: 150px;
    
}



    }




    

